name: Kotlin CI

on:
  push:
    branches:
      - master
      - dev
  pull_request:
    branches:
      - master
      - dev

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Check Code Style
        run: ./gradlew spotlessCheck
      - name: PublishToLocal Codegen Helper 
        run: ./gradlew publishToMavenLocal --warning-mode all

      - name: Build Examples
        working-directory: examples
        run: ./gradlew build
      - name: Generate Leetcode for Examples
        working-directory: examples
        run: ./gradlew leetcodeCodegenService